@model RiftWorld.DATA.EF.Locale

@{
    ViewBag.Title = "Delete " + Model.Name + "?";
    ViewBag.InfoId = Model.InfoId;

    string majo = ViewBag.Majorities;
}

<section id="basic" class="col-12" name="basic">
    <div class="row">
        <div id="name" class="col-auto">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div id="level" class="col-auto">
            @Html.DisplayFor(model => model.LocaleLevel.LocaleName)
        </div>
    </div>
    <div>
        @switch (Model.LevelOfLocaleId)
        {
            case 1:
                <div id="majorities">
                    <b>Majorities: </b>
                    @if (!majo.IsEmpty())
                    {
                        <span>@majo</span>
                    }
                    else
                    {
                        <span>None</span>
                    }
                </div>
                if (Model.AvgLifestyle != "Nada")
                {
                    <div id="avg-lifestyle">
                        <b>@Html.DisplayNameFor(model => model.AvgLifestyle)</b>
                        @Html.Raw(Model.AvgLifestyle)
                    </div>
                }
                <p id="councilDelegate">
                    <b>@Html.DisplayNameFor(model => model.CouncilDelegateId)</b>
                    @if (Model.CouncilDelegateId != null)
                    {
                        @Html.ActionLink(Model.NPC.Name, "Details", "NPCs", new { id = Model.CouncilDelegateId }, null)
                    }
                    else
                    {
                        <span>None</span>
                    }
                </p>
                <div id="Appointed">
                    <b>@Html.DisplayNameFor(model => model.Appointed)</b>
                    @Html.Raw(Model.Appointed)
                </div>
                break;
            case 2:
                if (Model.RegionId != null)
                {
                    <p><b>Region: </b>@Html.ActionLink(Model.Locale1.Name, "Details", new { id = Model.RegionId })</p>
                }
                <div id="majorities">
                    <b>Majorities: </b>
                    @if (!majo.IsEmpty())
                    {
                        <span>@majo</span>
                    }
                    else
                    {
                        <span>None</span>
                    }

                </div>
                if (Model.AvgLifestyle != "Nada")
                {
                    <div id="avg-lifestyle">
                        <b>@Html.DisplayNameFor(model => model.AvgLifestyle)</b>
                        @Html.Raw(Model.AvgLifestyle)
                    </div>
                }
                break;
            case 3:
                if (Model.RegionId != null)
                {
                    <p><b>Region: </b>@Html.ActionLink(Model.Locale1.Name, "Details", new { id = Model.RegionId })</p>
                }
                if (Model.ClosestCityId != null)
                {
                    <p><b>Closest City: </b>@Html.ActionLink(Model.Locale2.Name, "Details", new { id = Model.ClosestCityId }) </p>
                }
                break;
        }
    </div>
</section>
@Html.Action("_Events", "Locales", new { id = Model.LocaleId })
<section id="environment" class="col-12" name="Environment">
    <h2 class="line">
        @Html.DisplayNameFor(model => model.Environment)
    </h2>
    <div class="hang">
        @Html.Raw(Model.Environment)
    </div>
</section>
<section id="about" class="col-12" name="About">
    <h2 class="line">
        @Html.DisplayNameFor(model => model.About)
    </h2>
    <div class="hang">
        @Html.Raw(Model.About)
    </div>
</section>
@Html.Action("_Details", "Secrets", new { id = Model.InfoId })
@Html.Action("_Stories", "Stories", new { id = Model.InfoId })
<section id="rumors" class="col-12" name="Rumors">
    <h2 class="line">Rumors</h2>
    @Html.Action("_Rumors", "Rumors", new { id = Model.InfoId })
</section>
<footer id="tags" class="col-12">
    @Html.Action("_TagList", "Infos", new { id = Model.InfoId })

</footer>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color col-12 btn-group fixed-bottom" style="bottom:0;">
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning btn-lg" })
        <input type="submit" value="Delete" class="btn btn-danger btn-lg" />

    </div>
}

@section Scripts{
    <script src="~/Scripts/MyJS/deets.min.js"></script>
}