@model IEnumerable<RiftWorld.DATA.EF.Locale>

@{
    ViewBag.Title = "Index";
}
<div class="col-12">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info.Blurb)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info.Blurb)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LocaleId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LocaleId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LocaleId })
                </td>
            </tr>
        }

    </table>
</div>