@model IEnumerable<RiftWorld.DATA.EF.Locale>

@{
    ViewBag.Title = "Locales";
}

<div class="col-12">
    <h2 class="line">@ViewBag.Title</h2>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-12">
            <div class="da-focus">
                <input id="infoSearch" type="text" placeholder="Search.." class="form-control">
            </div>
        </div>
        <table class="table table-hover table-sm col-sm-7">
            <tbody id="infoTable">
                @foreach (var item in Model)
                {
                    <tr class="table-row" data-href="@Url.Action("Details", new { id = item.LocaleId })">
                        <td scope="row" style="text-align:justify; border:none" class="@(item.IsPublished? "" : "table-danger")">
                            <b>@Html.DisplayFor(modelItem => item.Name)</b><br />
                            <i>@Html.DisplayFor(modelItem => item.Info.Blurb)</i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function ($) {
            $(".table-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#infoSearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#infoTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}