@model RiftWorld.UI.MVC.Models.EditUserViewModel2

@{
    if (!Model.IsApproved)
    {
        ViewBag.Title = "Approve";
    }
    else
    {
        ViewBag.Title = "Update Consent File";
    }
}
<div class="col-12">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Approve", "UsersAdmin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.DiscordName)
            @Html.HiddenFor(model => model.DiscordDiscriminator)
            @Html.HiddenFor(model => model.IsApproved)

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control disabled" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiscordName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.DiscordName, new { htmlAttributes = new { @class = "form-control disabled" } })
                    @Html.ValidationMessageFor(model => model.DiscordName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiscordDiscriminator, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.DiscordDiscriminator, new { htmlAttributes = new { @class = "form-control disabled" } })
                    @Html.ValidationMessageFor(model => model.DiscordDiscriminator, "", new { @class = "text-danger" })
                </div>
            </div>

            @if (ViewBag.CurrentCharacter != null)
            {
                <div>
                    @Html.LabelFor(model => model.CurrentCharacterId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @ViewBag.CurrentCharacter
                    </div>
                </div>
            }
            @if (ViewBag.PastCharacters.Count > 0)
            {
                <div>
                    <label for="pastCharacters">Past Characters</label>
                    <ul name="pastCharacters">
                        @foreach (string character in ViewBag.PastCharacters)
                        {
                            <li>@character</li>
                        }
                    </ul>
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(model => model.ConsentFileName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.ConsentFileName)
                    <input type="file" name="consentFile" />
                    @if (Model.ConsentFileName != null)
                    {
                        <h5>Current Consent File</h5>
                        <iframe src="~/Content/ConsentFiles/@Model.ConsentFileName" width="100%" height="500px"></iframe>
                    }
                </div>
            </div>

            <div class="form-group">
                @if (!Model.IsApproved)
                {
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#areYouSureModal">Deny</button>

                        <input type="submit" value="Approve" class="btn btn-success" name="submit" />
                    </div>
                }
                else
                {
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                }
            </div>

        </div>
    }
    <!-- Modal -->
    <div class="modal fade" id="areYouSureModal" tabindex="-1" role="dialog" aria-labelledby="areYouSureModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="areYouSureModalLabel">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to deny is user?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Nope, I'm not. Cancel</button>

                    @using (Html.BeginForm("Deny", "UsersAdmin", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)

                        <input type="submit" value="Yes, deny them!" class="btn btn-danger" />

                    }
                </div>
            </div>
        </div>
    </div>




    <div>
        @if (!Model.IsApproved)
        {
            @Html.ActionLink("Cancel", "Approvals", "Infos")
        }
        else
        {
            @Html.ActionLink("Cancel", "Index")
        }
    </div>
</div>
