@model RiftWorld.DATA.EF.Event

@{
    ViewBag.Title = "Delete " + Model.Name + "?";
}
<section id="start" class="col-12 mb-4" name="The Basics">
    <div class="row justify-content-center" style="font-size:larger;">
        <div class="col-auto" id="name" style="padding-right:unset;">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col-auto align-self-end" id="date">
            <p style="margin-bottom:unset;">
                @Model.Month
                @Model.Season
            </p>
        </div>
    </div>
</section>
<section id="normies" class="col-12" name="Normal Particpants">
    <h2 class="line">
        @Html.DisplayNameFor(model => model.NormalParticipants)
    </h2>
    <div class="hang">
        @Html.Raw(Model.NormalParticipants)
    </div>
</section>
<section id="about" class="col-12" name="About">
    <h2 class="line">
        @Html.DisplayNameFor(model => model.AboutText)
    </h2>
    <div class="hang">
        @Html.Raw(Model.AboutText)
    </div>
</section>
@Html.Action("_Orgs", "Events", new { id = Model.EventId })
@Html.Action("_Locales", "Events", new { id = Model.EventId })

@Html.Action("_Details", "Secrets", new { id = Model.InfoId })
@Html.Action("_Stories", "Stories", new { id = Model.InfoId })
<section id="rumors" class="col-12" name="Rumors">
    <h2 class="line">Rumors</h2>
    @Html.Action("_Rumors", "Rumors", new { id = Model.InfoId })
</section>
<footer id="tags" class="col-12">
    @Html.Action("_TagList", "Infos", new { id = Model.InfoId })
</footer>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color col-12 btn-group fixed-bottom" style="bottom:0;">
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning btn-lg" })
        <input type="submit" value="Delete" class="btn btn-danger btn-lg" />

    </div>
}

@section Scripts{
    <script src="~/Scripts/MyJS/deets.min.js"></script>
}