@model RiftWorld.DATA.EF.Event

@{
    ViewBag.Title = Model.Name;
}
<section id="start" class="col-12 mb-4" name="The Basics">
    <div class="row justify-content-center" style="font-size:larger;">
        <div class="col-auto" id="name" style="padding-right:unset;">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col-auto align-self-end" id="date">
            <p style="margin-bottom:unset;">
                @Model.Month
                @Model.Season
            </p>
        </div>
    </div>
</section>
<section id="normies" class="col-12" name="Normal Particpants">
    <h2 class="line">
        @Html.DisplayNameFor(model => model.NormalParticipants)
    </h2>
    <div class="hang">
        @Html.Raw(Model.NormalParticipants)
    </div>
</section>
<section id="about" class="col-12" name="About">
    <h2 class="line">
        @Html.DisplayNameFor(model => model.AboutText)
    </h2>
    <div class="hang">
        @Html.Raw(Model.AboutText)
    </div>
</section>
@Html.Action("_Orgs", "Events", new { id = Model.EventId })
@Html.Action("_Locales", "Events", new { id = Model.EventId })

@Html.Action("_Details", "Secrets", new { id = Model.InfoId })
@Html.Action("_Stories", "Stories", new { id = Model.InfoId })
<section id="rumors" class="col-12" name="Rumors">
    <h2 class="line">Rumors</h2>
    @Html.Action("_Rumors", "Rumors", new { id = Model.InfoId })
    @Html.Action("CreateRumor", "Rumors", new { id = Model.InfoId })
</section>
<footer id="tags" class="col-12">
    @Html.Action("_TagList", "Infos", new { id = Model.InfoId })
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</footer>
@if (User.IsInRole("Admin"))
{
    <nav id="adminNav" class="navbar fixed-bottom navbar-light navbar-expand-md">
        <span class="navbar-brand">Katherine's Bar</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Edit Complex", "AssoEdit", new { id = Model.EventId }, new { @class = "nav-link" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Add Secret", "Create", "Secrets", new { infoId = Model.InfoId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Delete", "Delete", new { id = Model.EventId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "nav-link" })
                </li>

            </ul>
        </div>
        <span class="navbar-text @Model.Pub.ToLower()">
            @if (Model.IsPublished)
            {
                <span class="navbar-text">
                    @Html.ActionLink("Un-Publish", "TogglePub", "Infos" ,new { id = Model.InfoId, submit = "Un-Publish" }, new { @class = "nav-link" })
                </span>
            }
            else
            {
                <span class="navbar-text">
                    @Html.ActionLink("Publish", "TogglePub","Infos", new { id = Model.InfoId, submit = "Publish" }, new { @class = "nav-link" })
                </span>
            }
            @Model.Pub
        </span>
    </nav>
}
@section Scripts{
    <script src="~/Scripts/MyJS/story.js"></script>
    <script src="~/Scripts/MyJS/rumor.js"></script>
    <script src="~/Scripts/MyJS/secret.js"></script>
}