@model IEnumerable<RiftWorld.DATA.EF.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHistory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AboutText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormalParticipants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info.Blurb)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHistory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AboutText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormalParticipants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPublished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Info.Blurb)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
        </td>
    </tr>
}

</table>
