@model RiftWorld.DATA.EF.Rift

@{
    ViewBag.Title = "Delete " + Model.Name + "?";
    bool hasVariety = true;
    if (ViewBag.Variety.Length == 0)
    {
        hasVariety = false;
    }
    bool exist = true;
    if (Model.Environment == "Nada" || Model.Hazards == "Nada")
    {
        exist = false;
    }

}
<section id="location" class="col-12" name="Location">
    <p style="font-size:3em;">Rift Location: @Model.Location</p>
    <p style="font-size:larger;">Aka: @Model.Name</p>
</section>
@if (Model.Environment != "Nada")
{
    <section id="environment" class="@(exist ? "col-xl-6" : "col-12")" name="Environment">
        <h2 class="line">@Html.DisplayNameFor(model => model.Environment)</h2>
        @if (hasVariety)
        {<p>Major Inhabitants: @ViewBag.Variety</p>}
        @Html.Raw(Model.Environment)
    </section>
}
@if (Model.Hazards != "Nada")
{
    <section id="hazards" class="@(exist ? "col-xl-6" : "col-12")" name="Hazards">
        <h2 class="line">
            @Html.DisplayNameFor(model => model.Hazards)
        </h2>
        @Html.Raw(Model.Hazards)
    </section>
}
@Html.Action("_Details", "Secrets", new { id = Model.InfoId })
@Html.Action("_Stories", "Stories", new { id = Model.InfoId })
<section id="rumors" class="col-12" name="Rumors">
    <h2 class="line">Rumors</h2>
    @Html.Action("_Rumors", "Rumors", new { id = Model.InfoId })
</section>
<footer id="tags" class="col-12">
    @Html.Action("_TagList", "Infos", new { id = Model.InfoId })
</footer>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color col-12 btn-group fixed-bottom" style="bottom:0;">
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning btn-lg" })
        <input type="submit" value="Delete" class="btn btn-danger btn-lg" />

    </div>
}
@section Scripts{
    <script>
        $(".sneaky-shadow").addClass("rift");
    </script>
    <script src="~/Scripts/MyJS/deets.min.js"></script>

}