@model RiftWorld.UI.MVC.Models._OrgEventsFullVM
@using RiftWorld.UI.MVC.Models


@if (Model.Holidays.Count != 0)
{
    <h2 class="line">Holidays</h2>
    <ul>
        @foreach (var item in Model.Holidays)
        {
        <li>
            @Html.ActionLink(item.Name, "Details", "Events", new { id = item.Id }, null)
            @(item.Blurb.IsEmpty() ? "" : " - ")
            <i>
                @Html.DisplayFor(modelItem => item.Blurb)
            </i>
        </li>
        }
    </ul>
    <br/>
}
@if (Model.PastEvents.Count != 0)
{
    <h2 class="line">Major Influence</h2>
    <ul>
        @foreach (var item in Model.PastEvents)
        {
        <li>
            @Html.ActionLink(item.Name, "Details", "Events", new { id = item.Id }, null)
            @(item.Blurb.IsEmpty() ? "" : " - ")
            <i>
                @Html.DisplayFor(modelItem => item.Blurb)
            </i>
        </li>
        }
    </ul>
    <br/>
}
