@model RiftWorld.DATA.EF.Org

@{
    ViewBag.Title = "Delete " + Model.Name + "?";
    ViewBag.InfoId = Model.InfoId;
}
<section id="start" class="col-12 row justify-content-center" name="Start">
    <div id="pic" class=" pic col-sm-8 col-md-6 col-lg-3">
        <img src="~/Content/img/org/@Model.SymbolFileName" />
        @if (Model.SymbolFileName != "default.jpg")
        {
            <div class="overlay">Art by @Model.Artist</div>
        }
    </div>
    <div id="name" class="col-12">
        @Html.DisplayFor(model => model.Name)
    </div>
    <h4 id="base" class="col-12" style="margin-bottom:15px;">
        @Html.DisplayNameFor(model => model.BaseLocationId): @(Model.BaseLocationId == null ? Html.DisplayFor(model => model.BaseLocationId) : Html.DisplayFor(model => model.Locale.Name))
    </h4>
</section>
@if (Model.AboutText != "Nada")
{
    <section id="about" class="col-12" name="About">
        <h2 class="line">
            @Html.DisplayNameFor(model => model.AboutText)
        </h2>
        <div class="hang">
            @Html.Raw(Model.AboutText)
        </div>
    </section>
}
<section id="members" class="col-md-6" name="Members">
    @Html.Action("_Members", "Orgs", new { id = Model.OrgId })
</section>
<section id="events" class="col-md-6" name="Events">
    @Html.Action("_Events", "Orgs", new { id = Model.OrgId })
</section>
@Html.Action("_Details", "Secrets", new { id = Model.InfoId })
@Html.Action("_Stories", "Stories", new { id = Model.InfoId })
<section id="rumors" class="col-12" name="Rumors">
    <h2 class="line">Rumors</h2>
    @Html.Action("_Rumors", "Rumors", new { id = Model.InfoId })
</section>
<footer id="tags" class="col-12">
    @Html.Action("_TagList", "Infos", new { id = Model.InfoId })
</footer>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color col-12 btn-group fixed-bottom" style="bottom:0;">
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning btn-lg" })
        <input type="submit" value="Delete" class="btn btn-danger btn-lg" />

    </div>
}


@section Scripts{
    <script src="~/Scripts/MyJS/deets.min.js"></script>
}