@model IEnumerable<RiftWorld.DATA.EF.Org>

@{
    ViewBag.Title = "Organizations";
}
<div class="col-12">
    <h2 class="line">@ViewBag.Title</h2>

    <div class="row justify-content-center">
        <div class="col-sm-6 col-12">
            <div class="da-focus">
                <input id="infoSearch" type="text" placeholder="Search.." class="form-control">
            </div>
        </div>

        <table class="table table-hover table-sm col-sm-7">

            <tbody id="infoTable">

                @foreach (var item in Model)
                {
                    @*for version 1, see event index*@

                    @*Version 2*@
                <tr class="table-row" style="transform:rotate(0)">
                    <td scope="row" class="border-0 text-justify @(item.IsPublished? "" : "table-danger")">
                        <b>@Html.DisplayFor(modelItem => item.Name)</b><br />
                        <i>@Html.DisplayFor(ModelItem => item.Info.Blurb)</i>
                        <a href="@Url.Action("Details", new { id = item.OrgId })" class="stretched-link"></a>
                    </td>
                    <!--for the ability to grab something by it's tag name-->
                    <td style="display:none">
                        @foreach (var tag in item.Info.InfoTags)
                        {
                            @(tag.Tag.TagName + ", ")
                        }
                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>

</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            $("#infoSearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#infoTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}