@*@model RiftWorld.DATA.EF.Secret*@
@model RiftWorld.UI.MVC.Models.SecretCreate

@{
    ViewBag.Title = "Create";
}

<div class="col-12">
    <h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Secret</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IsAboutId, "IsAboutId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IsAboutId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsAboutId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TheContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TheContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TheContent, "", new { @class = "text-danger" })
            </div>
        </div>

        @* todo - consider swapping to other select for ablilty to show katherine a list of other deets about it or jsut have a very good secret index for her so she can look it up. Or both*@
        <div class="form-group">
            <label class="col-md-2" for="tags">Tags</label>
            <div class="col-md-10">

                @Html.ListBox("tags", (MultiSelectList)ViewBag.Tags)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts{

    <script>
        new SlimSelect({
            select: '#tags'
        })
    </script>
}
