@model RiftWorld.UI.MVC.Models.SecretCompleteVM

@{
    ViewBag.Title = "View A Secret";
}

<div class="col-12">
    <h1>The details of a secret</h1>
    <h2>For <a target="_blank" href="@Url.Action("Details", "Infos", new { id = Model.Secret.IsAboutId })">@Html.DisplayFor(model => model.Secret.Info.Name)</a></h2>
    <p>
        @Html.DisplayFor(model => model.Secret.TheContent)
    </p>
    <h3>Assigned Secret Tags:</h3>
    <ul>
        @foreach (var item in Model.Tags)
        {
            <li>
                @Html.DisplayFor(modelItem => item.Name)
            </li>
        }
    </ul>
    <h3>Related Secrets:</h3>
    @if(Model.ConnectedSecrets.Count == 0)
    {
        <p>There are none.</p>
    }
    <ul>
        @foreach (var item in Model.ConnectedSecrets)
        {
            <li>@Html.DisplayFor(modelItem => item.Info.Name) - <span class="italic">@Html.DisplayFor(modelItem => item.TheContent)</span><a href="@Url.Action("Details", new { id=item.SecretId})"><i class="fas fa-external-link-square-alt"></i></a></li>
        }
    </ul>
    <h3>Character's who know</h3>
    @if(Model.CharactersKnow.Count == 0)
    {
        <p>No one</p>
    }
    <ul>
        @foreach (var item in Model.CharactersKnow)
        {
            <li>@Html.DisplayFor(modelItem => item.CharacterName) </li>
        }
    </ul>
    <div class="col-12 btn-group">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Secret.SecretId }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Delete", "Delete", new { id = Model.Secret.SecretId }, new { @class = "btn btn-danger" })
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
