@*@model RiftWorld.DATA.EF.Secret*@
@model RiftWorld.UI.MVC.Models.SecretEditVM
@{
    ViewBag.Title = "Editing a Secret";
    List<short> theSelected = ViewBag.Selected;

}
<div class="col-12">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.SecretId)

            <div class="form-group row">
                @Html.LabelFor(model => model.IsAboutId, "IsAboutId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("IsAboutId", null, htmlAttributes: new { @class = "" })
                    @Html.ValidationMessageFor(model => model.IsAboutId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.TheContent, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="da-focus">
                        @Html.EditorFor(model => model.TheContent, new { htmlAttributes = new { @class = "form-control", style = "height:4em" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.TheContent, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2" for="tags">Tags</label>
                <select multiple="multiple" name="tags" id="tags">
                    @foreach (var x in ViewBag.Tags)
                    {
                        <option value="@x.SecretTagId" @(theSelected.Contains(x.SecretTagId) ? "selected" : "")>@x.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <div class="col-12">
                    <input type="submit" value="Save" class="btn btn-warning btn-lg btn-block" />
                </div>
            </div>

        </div>
    }

    <div style="text-align:left;">
        @Html.ActionLink("Cancel", "Index")
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/SelectBoxes/slimselect.min.js"></script>
    <script src="~/Scripts/MyJS/edit.min.js"></script>
    <script>
        new SlimSelect({
            select: '#tags'
        })
        new SlimSelect({
            select: '#IsAboutId'
        })
    </script>
}
