@model RiftWorld.DATA.EF.CharSecret

@{
    ViewBag.Title = "GiveSecretSingle";
    bool overrider = false;
    if (ViewBag.Override == true)
    {
        overrider = true;
    }
}

<div class="col-12">


    <h2>GiveSecretSingle</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>CharSecret</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group row">
                @Html.LabelFor(model => model.CharId, "Character", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (overrider)
                    {
                        @Html.DropDownList("CharId")
                    }
                    else
                    {
                        @Html.DropDownList("CharId", (SelectList)ViewBag.CharId, "", htmlAttributes: new { @class = "" })
                    }
                    @Html.ValidationMessageFor(model => model.CharId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.SecretId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SecretId", (SelectList)ViewBag.SecretId, "", htmlAttributes: new { @class = "" })
                    @Html.ValidationMessageFor(model => model.SecretId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/SelectBoxes/slimselect.min.js"></script>
    <script src="~/Scripts/MyJS/edit.min.js"></script>
    <script>
        $('select#SecretId option:first-child').attr("data-placeholder", "true");
        var overrider = '@overrider';
        console.log(overrider);
        if (overrider == 'False') {
            $('select#CharId option:first-child').attr("data-placeholder", "true");
        }

        //slim select tags
        new SlimSelect({
            select: '#SecretId',
            placeholder: "Select the tag being learned"
        })

        new SlimSelect({
            select: "#CharId",
            placeholder: "Select who is gaining knowledge"

        })

    </script>
}
