@model IEnumerable<RiftWorld.DATA.EF.Secret>

@{
    ViewBag.Title = "Secrets";
}


@section styles{
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />

}

    <div class="col-12">
        <h2 class="line">@ViewBag.Title</h2>
        <p>Click on the details to see the secret tags it has, the related secrets, and the characters who know it</p>

        <table class="table data-table" id="secrets">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.TheContent)
                    </th>
                    <th>
                        Is About
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TheContent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Info.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SecretId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.SecretId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SecretId })
                    </td>
                </tr>
            }

        </table>
    </div>
@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#secrets').DataTable();
        });
    </script>
}
