@model IEnumerable<RiftWorld.DATA.EF.Rumor>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Character.PlayerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info.Blurb)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Character.PlayerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Info.Blurb)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RumorsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RumorsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RumorsId })
        </td>
    </tr>
}

</table>
