@model RiftWorld.DATA.EF.Rumor

@{
    ViewBag.Title = "Approve";
}

<div class="col-12">
    <h2>Approve</h2>

    <div>
        <h4>Rumor</h4>
        <hr />
        <dl class="dl-horizontal">


            <dt>
                @Html.DisplayNameFor(model => model.Character.CharacterName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Character.CharacterName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RumorOfId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Info.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RumorText)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RumorText)
            </dd>
        </dl>
    </div>
    <p>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @using (Html.BeginForm("Deny", "Rumors", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.RumorsId)

                        <input type="submit" value="Yes, deny them!" class="btn btn-danger" />

                    }

                    @*<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#areYouSureModal">Deny</button>*@
                    @using (Html.BeginForm("Approve", "Rumors", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(model => model.RumorsId)


                        <input type="submit" value="Approve" class="btn btn-success" />
                    }

                </div>
            </div>
    </p>
</div>

<!-- Modal -->
@*<div class="modal fade" id="areYouSureModal" tabindex="-1" role="dialog" aria-labelledby="areYouSureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="areYouSureModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to deny this rumor?</p>
                <p>Is it truly beyond saving even after talking to the player? (or they haven't done as asked)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Nope, I'm not. Cancel</button>
                @using (Html.BeginForm("Deny", "Rumors", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.RumorsId)

                    <input type="submit" value="Yes, deny them!" class="btn btn-danger" />

                }
            </div>
        </div>
    </div>
</div>*@