@model RiftWorld.DATA.EF.Item

@{
    ViewBag.Title = "Delete " + Model.Name + "?";
    ViewBag.InfoId = Model.InfoId;
}
<section id="description" name="Description" class="col-12" style="margin-top:8px;">
    <div class="row">
        <div class="col-md-9" style="padding-left:30px;">
            <div id="name">
                @Html.DisplayFor(model => model.Info.Name)
            </div>
            <div id="blurb" style="text-align:left;">
                @Html.DisplayFor(model => model.Info.Blurb)
            </div>
        </div>
        <div id="pic" class="col-md-3 pic align-self-center" style="padding-right:28px;">
            <img src="~/Content/img/item/@Model.PictureFileName" style="border: 2px groove #c3733a;box-shadow: 1px 1px 6px 0px #2a433e;" />
            @if (Model.PictureFileName != "default.jpg")
            {
                <div class="overlay" style="right:28px; padding:15px;">Art by @Model.Artist</div>
            }

        </div>

    </div>
    <br />
    <div class="row">
    </div>
    @if (Model.DescriptionText != "Nada")
    {
        <h2 class="line">
            @Html.DisplayNameFor(model => model.DescriptionText)
        </h2>
        <div class="hang">
            @Html.Raw(Model.DescriptionText)
        </div>
    }
</section>
@if (Model.PropertyText != "Nada")
{
    <section id="properties" name="Properties" class="col-12">
        <h2 class="line">
            @Html.DisplayNameFor(model => model.PropertyText)
        </h2>
        <div class="hang">
            @Html.Raw(Model.PropertyText)
        </div>
    </section>
}
@if (Model.HistoryText != "Nada")
{
    <section id="history" name="History" class="col-12">
        <h2 class="line">
            @Html.DisplayNameFor(model => model.HistoryText)
        </h2>
        <div class="hang">
            @Html.Raw(Model.HistoryText)
        </div>
    </section>
}
@Html.Action("_Details", "Secrets", new { id = Model.InfoId })
@Html.Action("_Stories", "Stories", new { id = Model.InfoId })
<section id="rumors" class="col-12" name="Rumors">
    <h2 class="line">Rumors</h2>
    @Html.Action("_Rumors", "Rumors", new { id = Model.InfoId })
    @Html.Action("CreateRumor", "Rumors", new { id = Model.InfoId })
</section>
<footer id="tags" class="col-12">
    @Html.Action("_TagList", "Infos", new { id = Model.InfoId })
</footer>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color col-12 btn-group fixed-bottom" style="bottom:0;">
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning btn-lg" })
        <input type="submit" value="Delete" class="btn btn-danger btn-lg" />

    </div>
}

@section Scripts{
    <script src="~/Scripts/MyJS/deets.min.js"></script>
}
