@model RiftWorld.DATA.EF.Journal

@{
    ViewBag.Title = "Approve";
}

<h2>Approve</h2>


<div class="form-horizontal">
    <h4>Journal</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.CharacterId, "CharacterId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Character.CharacterName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OocDateWritten, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.OocDateWritten)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TheContent, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.TheContent)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#areYouSureModal">Deny</button>
            @using (Html.BeginForm("Approve", "Journals", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.JournalId)

                <input type="submit" value="Approve" class="btn btn-default" />
            }

        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<!-- Modal -->
<div class="modal fade" id="areYouSureModal" tabindex="-1" role="dialog" aria-labelledby="areYouSureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="areYouSureModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to deny this journal?</p>
                <p>Is it truly beyond saving even after talking to the player? (or they haven't done as asked)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Nope, I'm not. Cancel</button>
                @using (Html.BeginForm("Deny", "Journals", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.JournalId)

                    <input type="submit" value="Yes, deny them!" class="btn btn-danger" />

                }
            </div>
        </div>
    </div>
</div>