@model RiftWorld.DATA.EF.Character

@{
    ViewBag.Title = "Details";
}

<section id="start" class="col-12" name="The Basics">
    <div id="startTop" class="row">
        @if (Model.PortraitFileName != null)
        {
            <div id="startTop-left_character" class="col-md-3 align-self-center">
                <div id="picture">
                    <div class="padder">
                        <img src="~/Content/img/character/@Model.PortraitFileName" />
                        <div class="overlay-character">Art by @Model.Artist</div>
                    </div>
                </div>
            </div>
        }
        <div id="startTop-right_character" class="@(Model.PortraitFileName != null ? "col-md-9" : "col-12")">
            <div class="row">
                <div id="name_character" class="col-md-12">
                    @Html.DisplayFor(model => model.CharacterName)
                </div>
            </div>
            <div class="col-12 begin">
                <div class="row chara-space topper">
                    <div class="col-auto">
                        <span class="dt">@Html.DisplayNameFor(model => model.RaceId):</span> @Html.DisplayFor(model => model.Race.RaceName)
                        @*@if (Model.Gender.IconName != null)
                            {
                                <i class="fas fa-@Model.Gender.IconName" title="@Model.Gender.GenderName"></i>
                            }*@
                    </div>
                    <div class="col-auto divider">
                        |
                    </div>
                    <div class="col-auto end">
                        <span class="dt">@Html.DisplayNameFor(model => model.GenderId):</span> @Model.Gender.GenderName
                    </div>
                </div>
                <div class=" row chara-space">
                    <div class="col-auto">
                        <span class="dt">@Html.DisplayNameFor(model => model.ClassString):</span> @Html.DisplayFor(model => model.ClassString)
                    </div>
                    <div class="col-auto divider">
                        |
                    </div>
                    <div class="col-auto end">
                        <span class="dt">@Html.DisplayNameFor(model => model.TierId):</span> @Html.DisplayFor(model => model.Tier.TierName)
                    </div>
                </div>
                <div class="row chara-space">
                    <div class="col-auto" style="font-size:1.4em;">
                        <span class="dt">@Html.DisplayNameFor(model => model.CurrentLocationId):</span> @Html.DisplayFor(model => model.Locale.Name)
                    </div>
                </div>
                <footer class="row chara-space ooc">
                    <div class="col-auto">
                        <span class="dt">Portrayed by:</span> @Html.DisplayFor(model => model.UserDetail.DiscordFull)
                    </div>
                    <div class="col-auto">
                        <span class="dt">Status:</span> @Html.DisplayFor(model => model.Status)
                    </div>
                </footer>

            </div>
        </div>
    </div>
</section>
<section id="description" class="col-12" name="Description">
    <h2 class="line chara">
        @Html.DisplayNameFor(model => model.Description)
    </h2>
    <pre>@Html.DisplayFor(model => model.Description)</pre>
</section>
<section id="about" class="col-12" name="About">
    <h2 class="line chara">
        @Html.DisplayNameFor(model => model.About)
    </h2>
    <pre>@Html.DisplayFor(model => model.About)</pre>
</section>
<section id="actions" class="col-12" name="Actions">
    <div class="form-group">
        <div class="col-12 row" >
            @using (Html.BeginForm("Deny", "Characters", FormMethod.Post, new { @class="col-md-6 col-12"}))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.CharacterId)

                <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#areYouSureModal">Deny</button>
                <!-- Modal -->
                <div class="modal fade" id="areYouSureModal" tabindex="-1" role="dialog" aria-labelledby="areYouSureModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="areYouSureModalLabel">Warning</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to deny this character?</p>
                                <p>Is it truly beyond saving even after talking to the player? (or they haven't done as asked)</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Nope, I'm not. Cancel</button>

                                <input type="submit" value="Yes, deny them!" class="btn btn-danger" />
                            </div>
                        </div>
                    </div>
                </div>

            }
            @using (Html.BeginForm("Approve", "Characters", FormMethod.Post, new { @class = "col-md-6 col-12" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.CharacterId)

                <input type="submit" value="Approve" class="btn btn-success btn-block" />
            }
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to Approvals", "Approvals", "Infos")
    </div>
</section>