@model IEnumerable<RiftWorld.DATA.EF.Character>

@{
    ViewBag.Title = "Hall of Heroes";
}

<div class="col-12">

    <h2 class="line mb-1" style="color:rgb(54, 101, 140)">@ViewBag.Title</h2>


    <div class="row" id="daButtons">
        <button class="tablink col pb-1 active" id="future">The Future</button>
        <button class="tablink pb-1 col" id="former">The Former</button>
        <button class="tablink pb-1 col" id="fallen">The Fallen</button>
    </div>
    <div class="table-responsive">
        <table class="table table-hover gentle">
            <thead>
                <tr>
                    <th class="p-0"></th>
                    <!--todo ask Katherine what she wants displayed on table-->
                    <th>
                        @Html.DisplayNameFor(model => model.CharacterName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrentLocationId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RaceId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TierId)
                    </th>
                    <!--todo remove discord name from index once all character creates and edits relating to the user have finished-->
                    <th>
                        @Html.DisplayNameFor(model => model.UserDetail.DiscordName)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="transform:rotate(0)"
                        class="table-row
                    @if (!item.IsRetired)
                        {
                        @("future")
                    }
                    else if (!item.IsDead)
                    {
                        @("former")
                    }
                    else
                    {
                        @("fallen")
                    }
                    ">
                        <th scope="row" class="p-0"><a href="@Url.Action("Details", new {id=item.CharacterId})" class="stretched-link"></a></th>
                        <td>
                            @Html.DisplayFor(modelItem => item.CharacterName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Locale.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Race.RaceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tier.TierName)
                        </td>
                        <!--todo remove discord name from index once all character creates and edits relating to the user have finished-->
                        <td>
                            @Html.DisplayFor(modelItem => item.UserDetail.DiscordName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script>
        $('#daButtons button').click(function () {
            var value = this.id;
            $("tbody tr").filter(function () {
                $(this).toggle($(this).hasClass(value));
            });
            $("#daButtons .active").removeClass('active');
            $(this).addClass('active');
        });
        $(document).ready(function () {
            $('#daButtons .active').click();
        });
    </script>

}
