@model IEnumerable<RiftWorld.DATA.EF.Journal>

@{
    ViewBag.Title = "JournalHub";
}

<div class="col-12">

    <h2>@ViewBag.Title</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OocDateWritten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheContent)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OocDateWritten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TheContent)
                </td>
            </tr>
        }

    </table>
    back to character details
</div>
