@model IEnumerable<RiftWorld.DATA.EF.Journal>

@{
    ViewBag.Title = "JournalHub";
}

<h2>JournalHub</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OocDateWritten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Character.PlayerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OocDateWritten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Character.PlayerId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JournalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JournalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JournalId })
        </td>
    </tr>
}

</table>
