@model RiftWorld.UI.MVC.Models.SeePlayerSecrets
@using RiftWorld.DATA.EF

@{
    ViewBag.Title = Model.CharacterName + "'s Known Secrets";
}


<div id="KnownSecrets" class="col-12" name="Known Secrets">
    <h2>@ViewBag.Title</h2>
    @if (Model.Tags.Count() == 0)
    {
        <p>This character knows no secrets</p>
    }
    else
    {
        <div>
            Known tags
            <ul>
                @foreach (SecretTag item in Model.Tags)
                {
                    <li title="@item.Description">@item.Name</li>
                }
            </ul>
        </div>
        <table class="table">
            <tr>
                <th>
                    secret
                </th>
                <th>
                    is about
                </th>
                <th>
                    Tags Known from
                </th>
            </tr>

            @foreach (var item in Model.Secrets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Secret.TheContent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Secret.Info.Name)
                    </td>
                    <td>
                        @{
                            int counter = item.Tags.Count;
                            for (int i = 0; i < counter; i++)
                            {
                                @Html.DisplayFor(modelItem => item.Tags[i].Name)
                                if (i != counter -1)
                                {
                                    @(", ")
                                }
                            }
                        }
                    </td>
                </tr>
            }

        </table>
    }
        <div>
            @Html.ActionLink("Give Knowledge", "GiveSecretSingle", "Secrets", new { charId = Model.CharId }, new { @class = "btn btn-sucess" })
            @Html.ActionLink("Remove Knowledge", "RemoveSecret", "Secrets", new { charId = Model.CharId }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Back to Details", "Details", "Characters", new { id = Model.CharId }, new { @class = "btn btn-warning" })
        </div>
</div>