@model RiftWorld.DATA.EF.Character

@{
    ViewBag.Title = "Retire " + Model.CharacterName + "?";
}
<div class="col-12">

    <h2>@ViewBag.Title</h2>
    @Html.ActionLink("Actually... Who is this again?", "Details", new { id = Model.CharacterId }, new { target = "_blank" })
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Character</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CharacterId)


        <div class="form-group">
            @Html.LabelFor(model => model.IsDead, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsDead)
                    @Html.ValidationMessageFor(model => model.IsDead, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>So, did they die?</label>
            <div class="form-check larger">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsDead, new { htmlAttribute = new { @class = "form-check-input" } })
                    <label for="IsDead" class="form-check-label">Yup, they dead</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#areYouSureModal">Retire them</button>
                <input type="submit" name="submit" value="Deny Retirement" class="btn btn-default" />
            </div>
        </div>
    </div>

        <!-- Modal -->
        <div class="modal fade" id="areYouSureModal" tabindex="-1" role="dialog" aria-labelledby="areYouSureModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="areYouSureModalLabel">Warning</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to retire this character: @Model.CharacterName?</p>
                        <p>There is no undoing this action. The character will forever be retired.</p>
                        <br />
                        <p>Also did you remember to mark if they died?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Nope, I'm not. Cancel</button>
                            <input type="submit" name="submit"value="Yes, retire" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
