@model RiftWorld.DATA.EF.Lore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheContent)
        </dt>

        <dd>
            @Html.Raw(Model.TheContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Info.Blurb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info.Blurb)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoreId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
