@model RiftWorld.UI.MVC.Models.IndexViewModel2
@{
    ViewBag.Title = "Manage your account";
}

<div class="col-12">

    <h2>@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="row">
        <div class="col-md-12">
            <p>
                @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword")
                                    : Html.ActionLink("Pick a password", "SetPassword"))
            </p>
        </div>
        <div class="col-md-12">
            <h4>Account Details</h4> 
            <div class="row">
                <p class="col-12">
                    <b>@Html.LabelFor(model => model.Email): </b> @Html.DisplayFor(model => model.Email)
                </p>
                <div class="col-12">
                    <p>
                        <b>Discord Account:</b> @Html.DisplayFor(model => model.Deets.DiscordFull)
                    </p>
                </div>
                <aside class="col-12">If any of the above are incorrect please contact Katherine in order to fix them</aside>
                <div class="col-12">
                    @if(Model.PendingCharacterId != null)
                    {
                        <h5 class="text-danger">Currently @Html.DisplayFor(model => model.PendingCharacterName) is currently under approval</h5>
                        @Html.ActionLink("Edit", "Edit", "Characters", new { id = Model.PendingCharacterId}, new { @class = "btn btn-warning" })
                    }
                    else if (Model.Deets.CurrentCharacterId != null)
                    {
                        <h5>Current Character</h5>
                        @Html.ActionLink(Model.Deets.Character.CharacterName, "Index", "Hub",null, null)
                    }
                    else
                    {
                        <p>You don't have a character right now. Not even under approval</p>
                        if (!User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Would you like to make one?", "Create", "Characters", null, null)
                        }
                    }
                </div>
                @if (Model.Deets.ConsentFileName != null)
                {
                    <div class="col-md-8 offset-md-2">
                        <h5>Current Consent File</h5>
                        <iframe src="~/Content/ConsentFiles/@Model.Deets.ConsentFileName" width="100%" height="500px"></iframe>
                    </div>
                }
            </div>
        </div>
    </div>
</div>