
@{
    ViewBag.Title = "CreateNew";
}
<div class="col-12">
    <h2>Info</h2>
    <a class="btn btn-info" href="@Url.Action("Create", "NPCs")">NPC</a>
    <a class="btn btn-info" href="@Url.Action("Create", "Rifts")">Rift</a>
    <a class="btn btn-info" href="@Url.Action("Create", "Items")">Item</a>
    <a class="btn btn-info" href="@Url.Action("Create", "Orgs")">Organization</a>
    <a class="btn btn-info" href="@Url.Action("Create", "Events")">Event</a>
    <a class="btn btn-info" href="@Url.Action("Create", "Lores")">Lore</a>
    <a class="btn btn-info" href="@Url.Action("Create", "Locales")">Locale</a>

    <h2>Other</h2>
    <a class="btn btn-info" href="@Url.Action("Create", "Secrets")">Secret</a>
    <a class="btn btn-info" href="@Url.Action("Create", "Stories")">Story</a>

    <h2>Options</h2>
    <a class="btn btn-info" href="#">Species</a>
    <a class="btn btn-info" href="#">Class</a>
    <a class="btn btn-info" href="@Url.Action("Create", "Genders")">Gender</a>
    <a class="btn btn-info" href="#">Tag</a>
    <a class="btn btn-info" href="#">Secret Tag</a>

    <h2>Give out the secrets</h2>
    <a class="btn btn-info" href="#">Give character a secret tag</a>

</div>