@model RiftWorld.UI.MVC.Models.ComboResult

@{
    ViewBag.Title = "TagIndex";
}
@section styles{
    <style>
        em {
            color: darkslategray;
        }
    </style>
}
<div class="col-12">
    <!--todo -add search bar-->
    <!--todo -add info type filter-->
    <!--todo - ???? add story mini as "blurb"-->

    <h2>@ViewBag.Tag - Tagged</h2>
    <div class="row justify-content-center">

        <div class="tab col-sm-9" style="padding:unset;">
            <button id="defaultOpen" class="tablinks" onclick="openPage(event, 'infos')">Lore</button>
            <button class="tablinks" onclick="openPage(event, 'stories')">Stories</button>
        </div>

        <div class="tabcontent col-sm-9" id="infos">
            <table class="table table-hover table-sm ">
                <tbody>
                    @foreach (var item in Model.Infos)
                    {
                        @*version 1: the rows aren't actual links*@
                        @*<tr class="table-row @(item.IsPublished? "" : "table-danger")" data-href="@Url.Action("Details", new { id = item.InfoId })">
                                <td class="align-middle text-left" style="opacity:.75;">
                                    @Html.DisplayFor(modelItem => item.InfoType.TypeName)
                                </td>
                                <td style="text-align:justify; border:none">
                                    <u>@Html.DisplayFor(modelItem => item.Name)</u> -<em>@Html.DisplayFor(modelItem => item.Blurb)</em>
                                </td>
                            </tr>*@
                        @*version 2: the row is a link (with all the benefits of a link*@
                        <tr class="table-row @(item.IsPublished? "" : "table-danger")" style="transform:rotate(0)">
                            <th scope="row" class="p-0"><a href="@Url.Action("Details", new { id = item.InfoId })" class="stretched-link"></a></th>
                            <td class="align-middle text-left" style="opacity:.75;">
                                @Html.DisplayFor(modelItem => item.InfoType.TypeName)

                            </td>
                            <td class="border-0 text-justify">
                                <u>@Html.DisplayFor(modelItem => item.Name)</u> -<em>@Html.DisplayFor(modelItem => item.Blurb)</em>
                            </td>
                        </tr>

                    }
                </tbody>

            </table>
        </div>
        @*todo *bonus* magic logic so when linked to a story, the story opened is what you clicked on*@
        <div class="tabcontent col-sm-9" id="stories">

            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th class="p-0"></th>
                        <th>
                            What's it about?
                        </th>
                        <th>
                            Title
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Stories)
                    {
                        <!--todo figure out what katherine actually wants displayed on the results for story-->
                        <tr class="table-row @(item.Info.IsPublished? "" : "table-danger")" style="transform:rotate(0)">
                            <th scope="row" class="p-0"><a href="@Url.Action("Details", "Infos", new { id = item.IsAboutId, story=item.StoryId })#story" class="stretched-link"></a></th>
                            <td class="align-middle text-left" style="opacity:.75;">
                                @Html.DisplayFor(modelItem => item.Info.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>

    </div>

</div>
@section Scripts{
    @*Version 1: table rows weren't links*@
    @*<script>
            $(document).ready(function ($) {
                $(".table-row").click(function () {
                    window.document.location = $(this).data("href");
                });
            });
        </script>*@
    <script>
        function openPage(evt, storyID) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(storyID).style.display = "block";
            evt.currentTarget.className += " active";
        }
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
}