@model IEnumerable<RiftWorld.DATA.EF.Info>

@{
    ViewBag.Title = "TagIndex";
}

<h2>@ViewBag.Tag</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blurb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InfoType.TypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blurb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InfoType.TypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.InfoId }) |
            @Html.ActionLink("Details", "Details", new { id = item.InfoId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InfoId })
        </td>
    </tr>
}

</table>
