@model IEnumerable<RiftWorld.DATA.EF.Info>

@{
    ViewBag.Title = "Todo";
}
@section styles{
    <style>
        em {
            color: darkslategray;
        }
    </style>
}
<!-- todo add filter by type?-->
<div class="col-12 ">
    <h2 class="line">Todo</h2>
    <div class="row justify-content-center mx-0">
        <div class="col-sm-8 col-12">
            <div class="da-focus">
                <input id="infoSearch" type="text" placeholder="Search.." class="form-control">
            </div>
        </div>

        <table class="table table-hover col-12">
            <tbody id="infoTable">
                @foreach (var item in Model)
                {
                    <tr class="table-row row align-items-center">
                        <td class="align-middle text-center" style="opacity:.75; width:126px;">
                            @Html.DisplayFor(modelItem => item.InfoType.TypeName)
                        </td>

                        <td class="text-left col look-at-me">
                            <u>@Html.DisplayFor(modelItem => item.Name)</u> -<em>@Html.DisplayFor(modelItem => item.Blurb)</em>
                        </td>
                        <td class="col-2 align-middle">
                            <div class="btn-group">
                                <a href="@Url.Action("Details", new { id = item.InfoId })" class="btn btn-outline-info"><i class="fas fa-book-reader"></i> View Page</a>

                                <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">

                                    <a href="@Url.Action("Edit", new { id= item.InfoId})" class="dropdown-item"><i class="fas fa-wrench"></i> Edit</a>
                                    <a href="@Url.Action("AssoEdit", new { id= item.InfoId})" class="dropdown-item"><i class="fas fa-network-wired"></i> Edit Complex</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="@Url.Action("Delete", new { id= item.InfoId})" class="dropdown-item"><i class="fas fa-trash-alt"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
@section Scripts{

    <script>
        $(document).ready(function () {
            $("#infoSearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#infoTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}