@model IEnumerable<RiftWorld.UI.MVC.Models.MiniJournalVM>

<div id="journals" class="tabcontent-a" name="Journal Log">
    @if (Model.Count() == 0)
    {
        <p>You don't have any approved journals yet</p>
    }
    else
    {
        <div class="row justify-content-center">

            <table class="table table-hover table-sm col-sm-9">
                <thead>
                    <tr>
                        <th colspan="2" style="font-size:larger">
                            Journals
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="row">
                            <td scope="row" class="border-0 text-justify col">
                                <b>@Html.DisplayFor(modelItem => item.Written)</b><br />
                                <pre><em>@Html.DisplayFor(modelItem => item.ContentMini) @(item.IsLonger ? "...": "")</em></pre>
                            </td>

                            <td class="col-2">
                                @Html.ActionLink("Read Rest", "Details", "Journals", new { id = item.JournalId }, null) |
                                @Html.ActionLink("Edit", "Edit", "Journals", new { id = item.JournalId }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
            }
        </div>
