@model IEnumerable<RiftWorld.DATA.EF.CharOrg>

<div id="tab-orgs" class="tabcontent-a" name="Orgs">
    @if (Model.Count() == 0)
    {
        <p>You're not a member of any organizations yet!</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Org.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlurbOrgPage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPublic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCurrent)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Org.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BlurbOrgPage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPublic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsCurrent)
                    </td>
                </tr>
            }
        </table>
    }
</div>
