@model RiftWorld.DATA.EF.Character

@{
    ViewBag.Title = "Hub";
}
@section styles{
    <style>
        .tablink-a, .tablink-b {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 15%;
        }

            .tablink-a:hover, .tablink-b {
                background-color: #777;
            }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent-a, tabcontent-b {
            /*color: white;*/
            display: none;
            padding: 100px 20px;
            /*height: 100%;*/
        }
    </style>
}
<div class="col-12">

    <h2>Hub</h2>

    <div class="row">
        <button class="tablink-a col-sm-12 col-md" onclick="openPage('details', this, 'green')" id="defaultOpen">Details</button>
        <button class="tablink-a col-sm-12 col-md" onclick="openPage('journals', this, 'green')">Journals</button>
        <button class="tablink-a col-sm-12 col-md" onclick="openPage('underApproval', this, 'green')">Under Approval</button>
        <button class="tablink-a col-sm-12 col-md" onclick="openPage('tab-orgs', this, 'green')">Orgs</button>
        <button class="tablink-a col-sm-12 col-md" onclick="openPage('KnownSecrets', this, 'green')">Known Secrets</button>
    </div>
    @Html.Action("_Secrets", "Hub", new { id = Model.CharacterId })
    @Html.Action("_JournalLog", "Hub", new { id = Model.CharacterId })
    @Html.Action("_Orgs", "Hub", new { id = Model.CharacterId })

    @Html.Action("_UnderApproval", "Hub", new { id = Model.CharacterId })

    <div class="tabcontent-a" id="details">
        <h4>Character</h4>
        <div class="col">
            @Html.ActionLink("Edit", "Edit", "Characters", new { id = Model.CharacterId }, new { @class = "btn btn-warning btn-block" })
        </div>
        <div class="col">
            request to retire
        </div>

        <div class="col">
            change location
        </div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CharacterName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CharacterName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PortraitFileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PortraitFileName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.About)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.About)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsRetired)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsRetired)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsApproved)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsApproved)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Artist)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artist)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClassString)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClassString)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender.GenderName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender.GenderName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Locale.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Locale.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Race.RaceName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Race.RaceName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tier.TierName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tier.TierName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserDetail.DiscordName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserDetail.DiscordName)
            </dd>

        </dl>
    </div>

</div>
@section Scripts{
    <script>
        function openPage(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent-a");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink-a");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = color;

            //hide the content from under approval again
            if (pageName == "underApproval") {
                document.getElementById("bRumors").style.display = "none";
                document.getElementById("bJournals").style.display = "none";
                document.getElementById("bOrgs").style.display = "none";
            }
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
    <script>
        function openPageB(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent-b");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink-b");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = color;
        }

        //// Get the element with id="defaultOpen" and click on it
        //document.getElementById("defaultOpen").click();
    </script>
}