@model RiftWorld.DATA.EF.NPC

@{ ViewBag.Title = "Details";
    ViewBag.InfoId = Model.InfoId;
    string status = "";
    if (Model.IsDead)
    {
        status = "dead";
    }
}
@Html.HiddenFor(model => model.InfoId)
@* TODO - transfer detailsV2 to details view (and ensure controller actions are okay *@
@*<article class="container" id="content" >
    <div class="row">*@
<section id="start" class="col-12" name="The Basics">
    <div id="quote" class="clearfix">
        <blockquote>
            <h4>
                @Html.DisplayFor(model => model.Quote)
            </h4>
        </blockquote>
    </div>
    <div id="startTop" class="row">
        <div id="startTop-left" class="col-md-9">
            <div id="name">
                @Html.DisplayFor(model => model.Name)
            </div>
            <div id="aliases">
                <h5>
                    @Html.DisplayNameFor(model => model.Alias)
                </h5><p>
                    @*Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibu*@
                    @Html.DisplayFor(model => model.Alias)
                </p>
            </div>
        </div>
        <div id="startTop-right" class="col-md-3 align-self-center">
            <div id="picture" class="@status">
                <div class="padder">
                    <img src="https://vignette.wikia.nocookie.net/criticalrole/images/9/91/Percy2.png/revision/latest/scale-to-width-down/310?cb=20151228164610" />
                    @*<img src="~/Content/img/npc/@Html.DisplayFor(model => model.PortraitFileName)" />*@
                    <div class="overlay npc-por">Art by Kitbus</div>
                </div>

            </div>

            <div id="basic-stuff" class="row">
                <p id="race" class="col-6">
                    @Html.DisplayFor(model => model.Race.RaceName)
                </p>
                <p id="class" class="col-6">@ViewBag.Classes</p>
            </div>
        </div>
    </div>
    <br />
    <div id="startLower" class="row">
        <div id="crest" class="col-md-2">
            <img src="https://vignette.wikia.nocookie.net/criticalrole/images/5/59/DeRolo_Crest.JPG/revision/latest/scale-to-width-down/180?cb=20180516101724" />
        </div>
        <div id="startLower-right" class="col-md-10">
            <div id="orgs">
                <h3 style="text-decoration:underline;">Member of</h3>
                @Html.Action("_OrgsPartial", "NPCs", new { id = Model.NpcId })

                @*<ul>
                        <li>
                            Vox Machina
                        </li>
                        <li>
                            The De Rolo family - <i>current head </i>
                        </li>
                        <li> we're just gonna keep going</li>
                        <li> we're just gonna keep going</li>
                        <li> we're just gonna keep going</li>
                        <li> we're just gonna keep going</li>
                        <li> we're just gonna keep going</li>
                        <li> we're just gonna keep going</li>
                        <li> we're just gonna keep going</li>
                        <li> we're just gonna keep going</li>
                    </ul>*@
            </div>
            <div id="lastLo">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.LastLocationId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Locale.Name)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="apperance" class="col-12" name="Apperance">
    <h2 class="line">
        @Html.DisplayNameFor(model => model.ApperanceText)
    </h2>
    <div class="hang">
        @* @Html.DisplayFor(model => model.ApperanceText)*@
        @Html.Raw(Model.ApperanceText)

        @*<p>Percy is a young human in his early twenties,.He originally had brown hair, but it turned white as a result of the trauma he suffered after the Briarwoods killed his family and he ran away with the aid of his sister Cassandra.</p>

            <p>After joining the Slayer's Take, Percy has the brand of the guild on his right arm.</p>*@
    </div>
</section>
<section id="about" class="col-12" name="About">
    <h2 class="line">
        @Html.DisplayNameFor(model => model.AboutText)
    </h2>
    <div class="hang">
        @*<form method="post">
                <textarea id="mytextarea">@Html.Raw(Model.AboutText)</textarea>
            </form>*@
        @Html.Raw(Html.Raw(Model.AboutText))

        <p> Compared to his fellow party, Percy is rather quiet, usually only speaking when necessary. However, he has shown he can be quite persuasive in social situations and is somewhat of a strategist within the group, as seen in "The Temple Showdown" (1x11).</p>

        <p>Percy thinks of himself as being the only one capable of making adult decisions, despite his young age. He is also very pragmatic, with a consistent belief that the ends justify the means. This has led to moments of conflict between him and the party.</p>
        <h5>Background</h5>
        <p>Percy was raised alongside his six siblings in Whitestone, where his branch of the de Rolo family ruled. Five years before the campaign began, the Briarwoods were invited in as guests, where they proceeded to seize control of Whitestone, murdering the de Rolos and those loyal to them. Percy was taken prisoner and tortured by Anna Ripley. After Percy fled Whitestone with the help of his sister Cassandra, he wandered aimlessly before setting out to avenge his family. Percy then constructed his first gun, the List. On five of its six barrels he inscribed a target of his vengeance: Lord Briarwood, Lady Briarwood, Dr. Ripley, Sir Kerrion Stonefell, and Professor Anders. Percy tracked Dr. Ripley for a year until he made his way to Stilben, where he attempted to kill her. He was captured by Dr. Ripley's guards and imprisoned until he was freed by the rest of Vox Machina.</p>

        <p>Because he is a gunslinger, Percy is the main long-ranged attack member of Vox Machina. He previously fought with his two guns, "The List", a six-barrel pepper-box, and "Bad News", a sniper rifle-esque device. The List has since been destroyed, and Percy has acquired two new weapons, both from Dr. Ripley: a four-shot pistol which he called "Retort", and another pepperbox known as "Animus". He also has experience in using melee weapons, usually a rapier or a longsword.</p>

        <p>Percy is also a tinkerer, creating and modifying items to give both himself and his teammates an edge in battle. He creates explosive and utility arrows for Vex'ahlia, as well as crafting his own ammunition and even weapons, such as his Diplomacy electroshock glove.</p>
    </div>
</section>
@Html.Action("_Details", "Secrets", new { id = Model.InfoId })
@Html.Action("_Stories", "Stories", new { id = Model.InfoId })
<section id="story" class="col-12" name="Stories">
    <h2 class="line">Stories</h2>
    <div class="tab">
        <button class="tablinks" onclick="openStory(event, 'London')">London</button>
        <button class="tablinks" onclick="openStory(event, 'Paris')">Paris</button>
        <button class="tablinks" onclick="openStory(event, 'Tokyo')">Tokyo</button>
    </div>

    <!-- Tab content -->
    <div id="London" class="tabcontent">
        <h3>[Title]</h3>
        <p class="intro">As told by the bard |bard insert name| on [date]</p>
        <p class="intro">Requested by [Name]</p>
        <div class="more hang">
            <p>
                Lorem ipsum dolor sit amet, consectetur
            </p>
            <p>
                TESSSSSSSSSSSSSSSSSSSSSSSSSSSSSSST!
            </p>
            <p>
                Tellus in metus vulputate eu scelerisque felis imperdiet proin. Nunc congue nisi vitae suscipit. Tempor id eu nisl nunc mi ipsum. Elementum pulvinar etiam non quam lacus suspendisse faucibus. Ullamcorper malesuada proin libero nunc consequat. Vitae turpis massa sed elementum tempus egestas sed sed risus. Turpis cursus in hac habitasse platea dictumst quisque sagittis. Dolor sit amet consectetur adipiscing elit pellentesque habitant. Congue eu consequat ac felis donec et odio pellentesque diam. Et pharetra pharetra massa massa ultricies. Diam maecenas sed enim ut sem. Vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Condimentum vitae sapien pellentesque habitant morbi tristique senectus.
            </p>
            <p>
                Feugiat sed lectus vestibulum mattis ullamcorper velit. Leo a diam sollicitudin tempor id eu nisl nunc mi. Tellus id interdum velit laoreet id donec ultrices tincidunt arcu. Nisi est sit amet facilisis magna etiam tempor orci eu. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Nulla pellentesque dignissim enim sit. Sit amet est placerat in egestas erat. Dignissim diam quis enim lobortis scelerisque fermentum dui. Tincidunt augue interdum velit euismod in pellentesque massa placerat duis. Est pellentesque elit ullamcorper dignissim. Cras ornare arcu dui vivamus arcu felis. In aliquam sem fringilla ut. Vestibulum lectus mauris ultrices eros in cursus turpis. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus.
            </p>
            <p>
                Non diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Tristique risus nec feugiat in fermentum. Volutpat odio facilisis mauris sit amet massa vitae. Eget duis at tellus at urna condimentum mattis pellentesque. Lectus arcu bibendum at varius vel. Turpis massa tincidunt dui ut ornare lectus sit amet est. Lorem dolor sed viverra ipsum. Semper eget duis at tellus. Leo duis ut diam quam nulla porttitor massa. Curabitur vitae nunc sed velit dignissim sodales ut. Sed enim ut sem viverra. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam. In ornare quam viverra orci sagittis eu volutpat odio facilisis.
            </p>
        </div>
    </div>

    <div id="Paris" class="tabcontent">
        <h3>Paris</h3>
        <p>Paris is the capital of France.</p>
    </div>

    <div id="Tokyo" class="tabcontent">
        <h3>Tokyo</h3>
        <p>Tokyo is the capital of Japan.</p>
    </div>
    <br />
</section>
<section id="rumors" class="col-12" name="Rumors">
    <h2 class="line">Rumors</h2>
    @Html.Action("_Rumors", "Rumors", new { id = Model.InfoId })
    @Html.Action("CreateRumor", "Rumors", new { id = Model.InfoId })
</section>
<footer id="tags" class="col-12">
    @Html.Action("_TagList", "Infos", new { id = Model.InfoId })
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

</footer>
@if (User.IsInRole("Admin"))
{
    <nav id="adminNav" class="navbar fixed-bottom navbar-light navbar-expand-md">
        <span class="navbar-brand">Katherine's Bar</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.NpcId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Edit Complex", "AssoEdit", new { id = Model.NpcId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Delete", "Delete", new { id = Model.NpcId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
        <span class="navbar-text @Model.Pub.ToLower()">
            @Model.Pub
        </span>
    </nav>
}
@*</article>*@

@section Scripts{
    <script src="~/Scripts/MyJS/story.js"></script>
    <script src="~/Scripts/MyJS/rumor.js"></script>
    <script src="~/Scripts/MyJS/secret.js"></script>
    @*<script>
        const okButton = document.getElementById('daSubmit');
        $('#RumorText').keyup(function (e) {
            var max = 300
            var len = $(this).val().length;
            var char = max - len;
            $('#tc-Rumor').html(char);

            if (char < 0) {
                $('#tcp-Rumor').addClass("invalid");
                okButton.disabled = true;
            }
            else {
                $('#tcp-Rumor').removeClass("invalid");
                okButton.disabled = false;
            }


        });
    </script>
    <script>
        class RumorData {
            constructor() {
                this.RumorOfId = @Model.InfoId;
                this.RumorText = $('#RumorText').val();
                this.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]', $('#RumorCreateForm')).val();
            }
        }
        $("#RumorCreateForm").submit(function (e) {
            var formData = $(this).serializeArray();
            e.preventDefault;
            $("#MessageContent").html("<div class= 'alert alert-info'>Please Wait...</div>");
            //alert(formData);
            console.log(formData);
            //todo add little loading message
            //var formData = new RumorData();
            $.ajax({
                url: "@Url.Action("CreateRumor", "Rumors")",
                type: "POST",
                data: formData,
                dataType: "json",
                error: function (e) {
                    $("#MessageContent").html("<div class= 'alert alert-danger'>There was an error. Please try again or contact site administrator.</div>");
                },
                success: function (data) {
                    $("#MessageContent").html("<div class= 'alert alert-success'>Your record was successfully added!!!</div>");

                    $("#RumorCreateForm")[0].reset();
                    $("#make-rumor").hide();
                }
            });
            return false;
        });
    </script>*@

    @*<script>
        $('#secret p').click(function () {
            $(this).addClass('revealed');
        });
    </script>*@
}